.center.jumbotron
  %h3 Thoughts
  = link_to '事件时间记录', event_times_path, :class=>"btn btn-lg "
  = link_to '我的微博', microposts_path, :class=>"btn btn-lg "
  = link_to '事件类型', event_types_path, :class=>"btn btn-lg "
  = link_to '事件标记', event_tags_path, :class=>"btn btn-lg "


