// Place all the styles related to the ShanbayWords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.word {
  font-weight: blod;
  font-color: red;
  font-size: 2em;
}
.pron {
  
}
.collins_frequency_0.collins_frequency_1.collins_frequency_2.collins_frequency_3.collins_frequency_4.collins_frequency_5 {
  background: #f5f5f5 !important;
}
.collins_frequency_0 {
  //color: #000000 !important;
  color: #EA151C !important;
  background: #f5f5f5 !important;
}
.collins_frequency_1 {
  //color: #21A2DE !important;
  color: #008B8B !important;
  background: #f5f5f5 !important;
}
.collins_frequency_2 {
  //color: #008B8B !important;
  color: #b904af !important;
  background: #f5f5f5 !important;
}
.collins_frequency_3 {
  //color: #b904af !important;
  color: #008B8B !important;
  background: #f5f5f5 !important;
}
.collins_frequency_4 {
  //color: #ff5400 !important;
  color: #101010 !important;
  background: #f5f5f5 !important;
}
.collins_frequency_5 {
  //color: #EA151C !important;
  color: #000000 !important;
  background: #f5f5f5 !important;
}
